* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Start Header and Navbar */

input {
  background-color: hsla(0, 0%, 95%, 1) !important;
  color: hsla(60, 2%, 33%, 0.5) !important;
  width: 390px !important;
  border-radius: 0 !important;
}
.search-Button {
  background-color: hsla(201, 82%, 37%, 1);
  border-radius: 0 5px 5px 0;
}
.header-navbar-brand {
  width: 200px;
  /* height: 300px; */
}
.header-navbar-brand img {
  width: 100%;
  /* height: 100%; */
}
.header-navbar-icons {
  width: 125px;
  gap: 5px;
}
.header-navbar-icons__icon {
  width: 30px;
  height: 30px;
  border: 1px solid hsla(17, 88%, 55%, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out all;
  cursor: pointer;
}
.header-navbar-icons__icon i {
color: hsla(17, 88%, 55%, 1);
}
.header-navbar-icons__icon:hover {
  background-color: hsla(17, 88%, 55%, 1);
}
.header-navbar-icons__icon:hover i{
  color: white;
}

.phone-number {
  width: 150px;
}
.header-navbar .phone-number p {
  margin: 0;
}
.header-navbar .phone-number,
.header-navbar .language {
  gap: 8px;
}
.profile-icon {
  margin-top: 10px;
}
.profile-icon ul li {
  position: relative;
  cursor: pointer;
  transition: .5s all ease-in-out;
}
.profile-icon ul li:hover {
  color: #f16126;

}
.profile-icon ul li.notification::after{
  content: "0";
  width: 20px;
  height: 20px;
  background-color: #f16126;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.navbar {
  background-color: hsla(201, 82%, 37%, 1);
}
.nav-link.active {
  color: white !important;
}
.nav-link {
  color: #ccc !important;
}
.nav-link:hover {
  color: white !important;
}
.hero {
  background-color: hsla(203, 84%, 95%, 1);
}
.cta {
  background-color: #f16126;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  transition: 0.5s ease-in-out all;
  margin-top: 10px;
  cursor: pointer;
}
.cta:hover {
  background-color: #cf3b00;
}
.navbar-toggler {
  color: white;
}

/* End Header and Navbar */

/* Start owl */

.owl-carousel {
  width: 100%;
}

.owl-carousel .content {
  width: 50%; /* Left side content */
}
.owl-carousel .content p {
  font-size: 36px;
}
.owl-carousel .content h2 {
  font-size: 72px;
  color: hsla(201, 82%, 37%, 1);
}

.owl-carousel .image {
  width: 50%; /* Right side image */
}

.owl-carousel .image img {
  width: 100%;
  /* height: auto; */
}
.owl-carousel .owl-nav button {
  background-color: hsla(17, 88%, 55%, 1) !important;
  padding: 10px !important;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dots {
  display: none;
}
/* Styling the custom arrows */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.owl-prev {
  left: 10px; /* Position the previous arrow */
}

.owl-next {
  right: 10px; /* Position the next arrow */
}
.custom-prev,
.custom-next {
  color: white;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Change on hover */
}

@media (max-width: 767px) {
  .owl-carousel .content p {
    font-size: 16px;
  }
  .owl-carousel .content h2 {
    font-size: 24px;
    color: hsla(201, 82%, 37%, 1);
  }
  .owl-carousel .content {
    width: 100%; /* Left side content */
    order: 2;
    margin-top: 20px;
  }

  .owl-carousel .image {
    width: 100%; /* Right side image */
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .owl-carousel .content p {
    font-size: 16px;
  }
  .owl-carousel .content h2 {
    font-size: 30px;
    color: hsla(201, 82%, 37%, 1);
  }
  .owl-carousel .content {
    width: 100%; /* Left side content */
    order: 1;
    margin-top: 20px;
  }

  .owl-carousel .image {
    width: 100%; /* Right side image */
    order: 2;
  }
}

/* End owl */

/* Start Categories */

.categories {
  background-color: #e8f5fd66;
}
.categories-left {
  background-color: hsla(200, 80%, 90%, 1);
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 545px;
  transition: 0.5s all ease-in-out;
}
.categories-left:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}

.categories-left p {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 500;
}
.categories-left .image {
  width: 356px;
}
.categories-left .image img {
  width: 100%;
}
.categories-right__upper {
  background-color: hsla(38, 16%, 90%, 1);
  position: relative;
  height: 275px;
  transition: 0.5s ease-in-out all;
}
.categories-right__upper p,
.categories-right__lower p {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.categories-right__lower {
  background-color: hsla(38, 16%, 90%, 1);
  position: relative;
  height: 250px;
  transition: 0.5s ease-in-out all;
}
.categories-right__lower:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}

.categories-right__upper:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}
.images-container {
  position: absolute;
  right: 0;
}

@media (max-width: 576px) {
  .categories-left {
    width: 100%;
  }
  .categories-left .image {
    width: 300px;
  }
  .categories-right {
    width: 100%;
  }

  .categories-right__upper {
    width: 100%;
    height: 600px;
  }
  .categories-right__lower {
    height: 600px;
    width: 100%;
  }
  .images-container {
    right: auto;
    margin-top: 70px;
    bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .images-container {
    right: auto;
    margin-top: 70px;
    bottom: 0;
  }
  .categories-left {
    width: 100%;
    order: 2;
  }
  .categories-right {
    width: 100%;
    order: 1;
  }
  .categories-left .image {
    width: 400px;
  }
  .categories-right__upper {
    background-color: hsla(16, 85%, 95%, 1);
    width: 50%;
    height: 600px;
  }
  .categories-right__lower {
    height: 600px;
    width: 50%;
  }
}

/* End Categories */

/* Start Mobile Collections */

.mobile-collections .content h5 {
  color: hsla(0, 0%, 0%, 0.5);
  text-align: center;
}
.mobile-collections .content p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.mobile-collections .items-container {
  width: 1300px;
}
.mobile-collections .item {
  width: 245px;
  transition: 0.5s all ease-in-out;
}
.mobile-collections .item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-5px);
}
.mobile-collections .content .icon span {
  display: inline-block;
}
.mobile-collections .content .icons span:nth-child(1) {
  color: hsla(0, 0%, 0%, 0.5);
}
.mobile-collections .content .icons .new-price {
  font-size: 24px;
  color: hsla(201, 82%, 37%, 1) !important;
}
.mobile-collections .content .icons span:nth-child(2) {
  text-decoration: line-through !important;
}
@media (max-width: 576px) {
  .mobile-collections .items-container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .mobile-collections .items-container {
    width: 100%;

  }
  .mobile-collections .item {
    width: 48% !important;
  }
}
.mobile-accessories {
  background-color: hsla(16, 85%, 95%, 1);
}

.mobile-accessories .container {
  background-image: url("../images/accessoriesPattern.png"); /* Sets the image as the background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image in the element */
}

/* End Mobile Collections */

/* Start Electronics */

.electronics {
  background-color: hsla(38, 16%, 90%, 1);
  height: 310px;
}
.electronics .container {
  background-image: url("../images/elctronicsPattern.png"); /* Sets the image as the background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image in the element */
}
@media (max-width: 768px) {
  .mobile-accessories .image {
    width: 100%;
  }
  .mobile-accessories .image img {
    width: 100%;
  }
  .mobile-collections .item {
    width: 100%;
  }
  .electronics {
    height: 200px;
  }
  .electronics .image {
    width: 100%;
  }
  .electronics .image img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .mobile-accessories .image {
    width: 100%;
  }
  .mobile-accessories .image img {
    width: 100%;
  }
  .mobile-collections .item {
    width: 100%;
  }
  .electronics {
    height: 340px !important;
  }
  .electronics .image {
    width: 100%;
  }
  .electronics .image img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .electronics {
    height: 435px !important;
  }
}


/* End Electronics */

/* Start Offers */

.offers {
  background-color: hsla(201, 82%, 37%, 1);
}
.offer-item {
  width: 400px;
}
.offers .offer-icon {
  background-color: hsla(17, 88%, 55%, 1);
  width: 50px;
  height: 78px;
  border-radius: 8px;
}
.offer-content p {
  color: white;
}
.offer-content p:nth-child(1) {
  font-size: 22px;
}
@media (max-width: 992px) {
  .offer-item {
    width: 100%;
  }
}
/* End Offers */

/* Start Footer */
footer {
  background-color: hsla(0, 0%, 9%, 1);
  color: white;
  text-transform: uppercase;
}
footer .logo {
  width: 300px;
}
footer .logo img {
  width: 100%;
}
.footer-icons__icon {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: .5s all ease-in-out;
}
.footer-icons__icon:hover {
  color: black;
  background-color: white;
}
footer h5 {
  font-size: 22px;
}
footer p {
  color: hsla(0, 0%, 75%, 1) !important;
  cursor: pointer;
  transition: .5s all ease-in-out;

}
footer p:hover {
  color: white!important;
}
@media (max-width: 992px) {
  footer {
    width: 100%;
  }
  footer .logo {
    width: 250px;
  }
  footer h5 {
    font-size: 18px;
  }
}
/* End Footer */
